*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --cabeçalho: #0F172A;
    --fundo: #121212;
    --cards: #1E1E1E;
    --botões: #3B82F6;
    --texto: #F8FAFC;
}

body{
    background-color: var(--fundos);
    color: white;
}

header{
    background-color: var(--cabeçalho);
    margin: auto;
    padding: auto;
}

header h1{
    text-align: justify;
}

nav{
    text-align: justify;
}

header h2{
    text-align: center;
}

img{
    width: 200px;
    height: 200px;
}
