*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

:root{
    --cabeçalho: #0F172A;
    --fundo: #121212;
    --cards: #1E1E1E;
    --borda-card: #334155;
    --botões: #3B82F6;
    --botoes-hover: #60A5FA;
    --texto: #F8FAFC;
    --footer: #CBD5E1;
}

body{
    background-color: var(--fundo);
    color: var(--texto);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--fundo);
    color: var(--texto);
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background: var(--cabecalho);
    text-align: center;
    padding: 35px 20px;
    box-shadow: 0 4px 12px rgba(0,0,0,.4);
}

header h1{
    font-size: 3rem;
    margin-bottom: 10px;
    letter-spacing: 2px;
}

header h2{
    font-size: 1.2rem;
    font-weight: normal;
    color: var(--texto-secundario);
    max-width: 700px;
    margin: 0 auto 30px;
    line-height: 1.5;
}

nav{
    display: flex;
    justify-content: center;
    gap: 25px;
}

nav a{
    color: var(--texto);
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    padding: 10px 18px;
    border-radius: 8px;
    transition: .3s;
}

nav a:hover{
    background: var(--botoes-hover);
}

img{
    width: 200px;
    height: 200px;
}
